<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?03aeeb8e94110c35fc6d7e734cca5c01";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<hr>
	<ul>
		<li><a href="/pc/admintemplate/index.html">bootstrap 后台模板1</li>
		<li><a href="/pc/admintemplate2/index.html">bootstrap 后台模板2</li>
		<li><a href="/pc/admintemplate3/index.html">bootstrap 后台模板3</li>
		<li><a href="/pc/home/index.html">vue element UI test </li>
	</ul>
  </body>
</html>
